# Kconfig.sam0 - Atmel SAM0 GPIO configuration options
#
# Copyright (c) 2017 Google LLC.
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_SAM0
	bool "Atmel SAM0 GPIO (PORT) driver"
	depends on GPIO && SOC_FAMILY_SAM0
	default n
	help
	  Enable support for the Atmel SAM0 'PORT' GPIO controllers.

if GPIO_SAM0

config SYS_LOG_GPIO_SAM0_LEVEL
	int
	prompt "SAM0 driver log level"
	depends on GPIO_SAM0 && SYS_LOG
	default 0
	help
	  Sets log level for GPIO SAM0 driver

	  Levels are:

	  - 0 OFF, do not write

	  - 1 ERROR, only write SYS_LOG_ERR

	  - 2 WARNING, write SYS_LOG_WRN in addition to previous level

	  - 3 INFO, write SYS_LOG_INF in addition to previous levels

	  - 4 DEBUG, write SYS_LOG_DBG in addition to previous levels

endif #GPIO_SAM0