# Kconfig - SODAQ One v3 board configuration
#
# Copyright (c) 2018 Henrik Brix Andersen <henrik@brixandersen.dk>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_SODAQ_ONE_V3
	bool "SODAQ One v3"
	depends on SOC_PART_NUMBER_SAMD21G18A
